<div class="home-container">
    <div class="hero-section">
      <h1>מערכת ניהול תורנים</h1>
      
      @if (isLoading) {
        <div class="loading">טוען נתונים...</div>
      } 
      @else {
        <div class="next-friday-card">
          <h2>תורנות יום שישי הקרוב</h2>
          <div class="date-display">
            {{ nextFridayDate | date:'dd/MM/yyyy' }}
            </div>
          @if (nextFridayToran) {
            <div class="date-display">     {{ nextFridayToran.name }}       </div>

          <div class="toran-selection">
            <button (click)="openEmployeeModal()" class="action-btn primary" >
              אישור ביצוע תורנות
            </button>
          </div>

          @if(isModalOpen){
            <div class="employee-modal">
              <div class="modal-content">
                <div>
                  <h4>
                    בחר תורן
                    <button class="close-btn" (click)="closeModal()" type="button">×</button>
                  </h4>
                  <select [(ngModel)]="selectedToranName" class="selection">
                    @for (e of employees; track e.name) {
                      <option [value]="e.name">{{ e.name }}</option>
                    }
                  </select>
                  <input type="date" [(ngModel)]="selectedDate" class="date-picker" />
                </div>
                <button (click)="confirmSelection()" class="action-btn success" style="margin: 2px;">
                  אישור
                </button>
              </div>
            </div>
          
            @if(selectionMessage){
              <div class="success-message">
                {{ selectionMessage }}
              </div>
            }
          }
          
      }

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }
    </div>

    <div class="quick-actions">
      <h3>פעולות מהירות</h3>
      <div class="action-buttons">
        <a routerLink="/toranim" class="action-btn primary">
          ניהול תורנים
        </a>
        <a routerLink="/schedule" class="action-btn secondary">
          צפייה בלוח התורנויות
        </a>
      </div>
    </div>
  }
  <router-outlet></router-outlet>
