<div class="home-container">
    <div class="hero-section">
      <h1>מערכת ניהול תורנים</h1>
      
      @if (isLoading) {
        <div class="loading">טוען נתונים...</div>
      } @else {
        <div class="next-friday-card">
          <h2>תורנות יום שישי הקרוב</h2>
          <div class="date-display">
            {{ nextFridayDate | date:'dd/MM/yyyy' }}
          </div>

          <div class="toran-selection">
            <button (click)="openEmployeeModal()" class="action-btn primary" >
              אישור ביצוע התורנות
            </button>
          </div>

          @if(isModalOpen){<div  class="employee-modal">
            <div class="modal-content" >
              <h4> בחר תורן</h4>
                <input 
                type="text" 
                [(ngModel)]="searchQuery" 
                (input)="filterEmployees()" 
                class="styled-input" 
                style="width: 50%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;"
              />
              <ul class="employee-list">
              @for ( employee of filteredEmployees;track employee) {              
                <li 
                  
                  (click)="selectEmployee(employee)"
                  [class.selected]="employee === selectedEmployee"
                >
                  {{ employee.name }}
                </li>}
              </ul>
              <button (click)="confirmSelection()" class="action-btn success" style="margin: 2px;">
                אישור
              </button>
              <button (click)="closeModal()" class="action-btn success" style="margin: 2px;">
                ביטול
              </button>
            </div>
          </div>
        

         @if(selectionMessage){} <div  class="success-message">
            {{ selectionMessage }}
          </div>
        }
        </div>
      }

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }
    </div>

    <div class="quick-actions">
      <h3>פעולות מהירות</h3>
      <div class="action-buttons">
        <a routerLink="/toranim" class="action-btn primary">
          ניהול תורנים
        </a>
        <a routerLink="/schedule" class="action-btn secondary">
          צפייה בלוח התורנויות
        </a>
      </div>
    </div>

  </div>
  <router-outlet></router-outlet>
